#word-search-form {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0px;
  width: 49%;
}

#word-search-form input[type=text] {
  width: 200px;
  height: 25px;
  display: inline-block;
  margin: 5px 0px 0px;
}

#word-search-form label {
  display: inline-block;
}

#word-search-form #search {
  float: right;
  width: 100px;
  font-size: 150%;
}

#sound {
  height: 40px;
}

#main-words {
  width: 50%;
  float: left;
}

dt {
  margin-top: 20px;
}

#word-detail {
  position: fixed;
  width: 49%;
  height: 500px;
  right: 0px;
  top: 80px;
  border: 1px solid #000000;
  overflow: scroll;
}

h2 {
  margin: 10px 5px 0px;
}

.pronunciation {
  font-size: 150%;
  margin-left: 5px;
}

.pronunciation .dbox-bold {
  font-weight: bold;
}

.vocabulary-com-definition {
  margin: 5px;
}

.definition .def-content {
  margin: 10px 5px;
}

.definition .def-content .def-inline-example {
  color: #999;
  padding-left: 20px;
}

.learned-word, .unlearned-word {
  float: right;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 2px 10px;
  cursor: pointer;
}

.removed {
  background-color: #ddd;
}

#flashcards {
  border: 1px solid #000;
  height: 300px;
  background-color: #fff;
  display: none;
}

#flashcard-stop {
  border-bottom: 1px solid #000;
  height: 40px;
  background-color: #eee;
}

#flashcard-stop span {
  float: right;
  border: 1px solid #999;
  background-color: #ccc;
  padding: 2px 10px;
  position: relative;
  top: 7px;
  right: 5px;
  cursor: pointer;
}

#start-flashcard {
  height: 40px;
  display: none;
}

#start-flashcard span {
  border: 1px solid #999;
  background-color: #ccc;
  padding: 2px 10px;
  cursor: pointer;
}

#word-flashcard {
  margin: 10px;
}

#flashcards .word_count {
  font-size: 130%;
  color: #999;
  text-align: right;
}

#flashcards dt a {
  font-size: 200%;
  text-decoration: none;
}

#flashcards dd {
  font-size: 130%;
  margin-left: 0px;
  margin-top: 20px;
}
